*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
    margin: 0 auto;
}
.header_media{
    background-color: #D9D9D9;
    height: 69px;
}
.header-meadia-wrapper{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    max-width: 1200px;
    margin:0 auto;
}
.social-media-list{
    display: flex;
    flex-direction: row;

}
.call_us_box{
    display: flex;
    flex-direction: row;
}
.call-us{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.call-us:first-child{
    margin-right:65px;
}
.call-us-span-box{
    display: flex;
    flex-direction: column;
}
.mail{
    background-image: url("./src/img/message.png");
}
.call{
    background-image: url("./src/img/call.png");
}
.header{
    width: 1200px; 
    margin: 0 auto;
}
.header_logo{
    background-color: white;
    height: 158px; 
   
    display: flex;
    flex-direction: row;
    align-items: center; justify-content: space-between;
}
.header_logo_picture_img{
    height: 68px;
    width: 68px;
}
.social-media-item{
    list-style: none;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    margin: 0 20px;
}
.social-media-item:last-child{
    margin: 0px;
}
.facebook{
    background-image: url(./src/img/face.png); 
}
.twitter{
    background-image: url(./src/img/twi.png);
}
.pinterest{
    background-image: url(./src/img/pint.png);
}
.instagram{
    background-image: url(./src/img/inst.png);
}
.title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    color: #1C2752;

}
.text-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    list-style: none;
}
.text-title-gray{
    color: #7E7E7E
}
.first_section_title{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
    
}
.first_section_title_img{
    background-image: url('./src/img/mech.png');
    width: 30px;
    height: 29px;
}
.header_logo_picture{
    background-image: url(./src/img/logo.png);
    width: 242px;
    height: 48px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB342;
    width: 1200px;
    height: 88px;
    left:8.2%;
    position: relative;
    z-index: 3;
    margin-bottom: -44px;
  
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-item{
    list-style: none;
    margin: 0 25px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;
}
.questions{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C2752;
    width:298px;
    height: 68px;
    color: #F4F4F4;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin-right: 20px;
}
.first_section{
    position: relative;
    z-index: 2;
    background-image: url(./src/img/1Frame.png);
    widows: 1440px;
    height: 813px;
    background-repeat: no-repeat;
}
.first_section_text-box{
    width: 720px;
    height: 333px;
    padding-top: 270px;
    padding-left: 120px;
    z-index: 1;
    display: flex;
   flex-direction: column;
   
}
.first_section_title{
    color: white;
}

.first_section_text{ 
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;  
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    
}
.first_section_button{
    width: 227px;
    height: 68px;
    background-color:#FFB342 ;
}
.second_section{
    padding-top: 140px;
    padding-bottom: 140px;
}
.second_section_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:1200px ;
    margin: 0 auto;
}
.left_part{
    background-image:url(./src/img/second_section.png);
    width: 575px;
    height: 581px;
}
.right_part{
    width: 575px;
    
}
.right_part_title_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color:#F4F4F4 ;
}
.minilogo{
    background-image: url(./src/img/mini-logo.png);
    width: 23px;
    height: 27px;
}
.right_part_minisection{
    display: flex;
    flex-direction: row;
}
.right_part_minisection_left{
    background-color: #F4F4F4;
}
.years_old{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #FFB342;
}
.years_old_text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752
}
.third_section{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #FFB342;
    height: 900px;
}
.text-title-blue{
    color: #1C2752;
}
.main-services{
    margin: 0 auto;
    width: 840px;   
}
.third_section_button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button_third_section{
    border: solid 1px black;
    width:219px;
    height:68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button_third_section-picture{
    width: 36px;
    height: 36px;
}
.commercial{
    background-image: url(./src/img/commercial.png);
}
.residentaial{
    background-image: url(./src/img/residental.png);
}
.indusrtial{
    background-image: url(./src/img/industrial.png);
}
.button_third_section_link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;
}